.idea
.venv
build
dist
*.spec
SQ46M_EN_YDE_WE__SS__R01_U_231225_01_rel.zip
/Settings U2/
/__pycache__/
specified_files.*
/Settings_U2/
/APK/
/Firmware/
/Files_to_import/
/new settings u2/
/old settings u2/
